<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950111186689-fj97i0mjs2fgoop10n67knrrjr6h5pka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950111186689-fj97i0mjs2fgoop10n67knrrjr6h5pka</string>
	<key>API_KEY</key>
	<string>AIzaSyCwCpswSI9fKWm3J-NO8Zp2YDw1qfvNwrk</string>
	<key>GCM_SENDER_ID</key>
	<string>950111186689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ELITE.Killbox</string>
	<key>PROJECT_ID</key>
	<string>rogue-b3d48</string>
	<key>STORAGE_BUCKET</key>
	<string>rogue-b3d48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950111186689:ios:0700edc733d5d906bbf500</string>
</dict>
</plist>